In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [22]:
dataframe = pd.read_csv('../data/okcupid.csv')

# Melon experiments with Pandas

In [23]:
dataframe.head()

,Unnamed: 0,age,status,sex,orientation,body_type,diet,drinks,drugs,education,...,income,job,last_online,location,offspring,pets,religion,sign,smokes,speaks
0,0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,...,-1,transportation,2012-06-28-20-30,"south san francisco, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism and very serious about it,gemini,sometimes,english
1,1,35,single,m,straight,average,mostly other,often,sometimes,working on space camp,...,80000,hospitality / travel,2012-06-29-21-41,"oakland, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism but not too serious about it,cancer,no,"english (fluently), spanish (poorly), french (..."
2,2,38,available,m,straight,thin,anything,socially,NaN,graduated from masters program,...,-1,NaN,2012-06-27-09-10,"san francisco, california",NaN,has cats,NaN,pisces but it doesn&rsquo;t matter,no,"english, french, c++"
3,3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,...,20000,student,2012-06-28-14-22,"berkeley, california",doesn't want kids,likes cats,NaN,pisces,no,"english, german (poorly)"
4,4,29,single,m,straight,athletic,NaN,socially,never,graduated from college/university,...,-1,artistic / musical / writer,2012-06-27-21-26,"san francisco, california",NaN,likes dogs and likes cats,NaN,aquarius,no,english

In [ ]:
dataframe.tail()

In [25]:
dataframe.index

RangeIndex(start=0, stop=59946, step=1)

In [26]:
dataframe.columns

Index(['Unnamed: 0', 'age', 'status', 'sex', 'orientation', 'body_type',
       'diet', 'drinks', 'drugs', 'education', 'ethnicity', 'height', 'income',
       'job', 'last_online', 'location', 'offspring', 'pets', 'religion',
       'sign', 'smokes', 'speaks'],
      dtype='object')

In [ ]:
dataframe.sort_values(by = "income")

In [ ]:
dataframe["diet"]

In [ ]:
dataframe.loc[69:420, 'drugs':'height']

In [36]:
dataframe.loc[69] # content of row 69

Unnamed: 0                                            69
age                                                   29
status                                            single
sex                                                    m
orientation                                          gay
body_type                                           thin
diet                                                 NaN
drinks                                          socially
drugs                                          sometimes
education                     working on masters program
ethnicity                                          white
height                                              76.0
income                                                -1
job                                                other
last_online                             2012-04-26-07-55
location                            berkeley, california
offspring                                            NaN
pets                           likes dogs and likes cats
religion       agnosticism and somewhat serious about it
sign           scorpio and it&rsquo;s fun to think about
smokes                                                no
speaks              english (fluently), italian (poorly)
Name: 69, dtype: object

In [ ]:
dataframe[dataframe["income"] > 20000]

In [38]:
dataframe[dataframe["diet"].isin(['vegetarian', 'mostly vegetarian', 'strictly vegan', 'strictly vegetarian', 'mostly vegan', 'vegan'])]

,Unnamed: 0,age,status,sex,orientation,body_type,diet,drinks,drugs,education,...,income,job,last_online,location,offspring,pets,religion,sign,smokes,speaks
3,3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,...,20000,student,2012-06-28-14-22,"berkeley, california",doesn't want kids,likes cats,NaN,pisces,no,"english, german (poorly)"
18,18,31,single,m,straight,average,mostly vegetarian,rarely,never,graduated from space camp,...,-1,medicine / health,2012-06-29-04-04,"san francisco, california",NaN,likes dogs and likes cats,christianity,libra but it doesn&rsquo;t matter,no,english (fluently)
23,23,30,single,m,straight,thin,strictly vegan,not at all,never,graduated from college/university,...,-1,education / academia,2012-05-17-20-23,"san francisco, california",NaN,likes dogs and likes cats,atheism and laughing about it,aquarius but it doesn&rsquo;t matter,no,english
33,33,20,single,f,straight,average,mostly vegetarian,socially,never,working on college/university,...,-1,hospitality / travel,2012-06-30-00-00,"san rafael, california",doesn't want kids,has dogs and likes cats,NaN,cancer,no,"english (fluently), spanish (fluently)"
61,61,35,single,m,straight,thin,mostly vegetarian,socially,NaN,NaN,...,-1,other,2012-06-29-20-45,"san francisco, california",doesn't have kids,likes dogs and likes cats,NaN,cancer,no,"english, spanish (poorly)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59911,59911,22,single,f,bisexual,curvy,strictly vegetarian,often,NaN,NaN,...,-1,sales / marketing / biz dev,2012-07-01-00-44,"san francisco, california",NaN,likes dogs and has cats,NaN,cancer and it&rsquo;s fun to think about,NaN,english
59918,59918,27,seeing someone,f,gay,full figured,mostly vegetarian,socially,sometimes,space camp,...,-1,other,2011-07-10-08-31,"san francisco, california",NaN,likes dogs and likes cats,agnosticism and laughing about it,sagittarius but it doesn&rsquo;t matter,yes,english
59922,59922,22,single,f,straight,thin,vegetarian,socially,sometimes,working on college/university,...,-1,student,2012-03-22-20-28,"san francisco, california","doesn't have kids, and doesn't want any",likes dogs and likes cats,NaN,cancer but it doesn&rsquo;t matter,no,english (poorly)
59929,59929,27,single,m,straight,average,strictly vegetarian,socially,sometimes,graduated from masters program,...,-1,artistic / musical / writer,2012-06-04-00-52,"san francisco, california",NaN,has dogs and likes cats,atheism but not too serious about it,pisces but it doesn&rsquo;t matter,no,"english (fluently), polish (fluently), french ..."
59931,59931,24,single,m,straight,fit,strictly vegetarian,rarely,never,graduated from college/university,...,-1,science / tech / engineering,2012-04-16-18-40,"san francisco, california",NaN,likes dogs,agnosticism but not too serious about it,NaN,no,"english (fluently), hindi (poorly), french (po..."

In [ ]:
dataframe.head()
for keys in dataframe.keys():
    print(keys)

In [ ]:
dataframe = dataframe.drop(columns='Unnamed: 0')

## Analysis of missing data from the dataset

In [ ]:
dataframe.isna().sum().plot(kind='bar')

This diagram shows the missing data for each attribute. Age, status, sex, orientation and location are probably mandatory if you want to register in the app, therefore there are no missing data points. 'last_online' is managed by the service itself, so there's no missing data aswell.

What is interesting is the type of data that people omit most often. The 'offspring' parameter is the one that stands out the most from the rest. It describes whether or not the person has kids or plans of having them.

TODO: analyze the diet attribute. Group together vegetarian alike types, eat-all alike, and idk if there are other types rn. Put them together, and analyze how many are of them in % and draw some conclusions. We would use Aggregation and gather some points like this.

In [ ]:
sns.histplot(dataframe, y = 'diet')

In [ ]:
# dataframe_na = dataframe.dropna()
dataframe_na = dataframe.copy()

In [ ]:
dataframe_na.fillna('MISSING', inplace =True)

In [ ]:
dataframe_na['grouped_diet'] = dataframe_na['diet'].apply(lambda x : "veg" if (('vegetarian' or 'vegan') in x) 
                                                          else ("other" if ("other" in x) 
                                                                else ("anything" if ('anything' in x) 
                                                                      else ("religious" if (('halal' or 'kosher') in x) else 'missing' ))))

In [ ]:
sns.histplot(dataframe_na, y = 'grouped_diet')